
body {
    background-color:grey;
}

.search_form {
  text-align: center;
  font-size: 35px
}

.search_text {
  height: 30px;
  top: -4px;
  position: relative;
}
.take_input {
  font-size: 25px
}

.loglistitems {
  background-color: white;
  width: 75%;
  margin-left: 10%
}

.log-links {
    color: blue;
    text-align: center;
    font-size: 30px;
    margin: 2%
}

.description {
      color: black;
      font-size: 20px;
      margin: 2%
}
